.container {
	margin: 0 auto;
	width: 1024px;
	height: 860px;
	border: 1px solid black;
	padding: 20px;
}
#header {
	width: 1005px;
	height: 80px;
	background: #056ef563;
	margin-bottom: 10px;
	float: left;
	padding: 10px;
}
.brand {
	display: block;
	width: 190px;
	height:35px;
	text-align: center;
	background: white;
	margin-top: -12px;
	float: left;
}
.global {
	display: block;
	width: 550px;
	height:35px;
	text-align: center;
	background: white;
	margin-left: 10px;
	margin-top: -12px;
	float: left;
}
.tools {
	display: block;
	width: 245px;
	height:35px;
	text-align: center;
	background: white;
	margin-left: 10px;
	margin-top: -12px;
	float: left;
}
#hero {
	width: 760px;
	height: 180px;
	background: #056ef563;
	float: left;
	margin-bottom: 10px;
}
.heroFeature {
	display: block;
	width: 450px;
	height:120px;
	line-height: 100px;
	text-align: center;
	background: white;
	margin-left: 10px;
	float: left;
}
.heroCallToAction {
	display: block;
	width: 280px;
	height:120px;
	line-height: 100px;
	text-align: center;
	background: white;
	margin-left: 10px;
	float: left;
}
#ad {
	width: 254px;
	height: 180px;

	line-height: 180px;
	margin-left: 10px;
	background: green;
	float: left;
	text-align: center;
	margin-bottom: 10px;
}
#body {
	width: 760px;
	height: 500px;
	display: block;
	background: #056ef563;
	float: left;
	margin-bottom: 10px;
}
.articleFeature {
	display: block;
	width: 250px;
	height:430px;
	line-height: 430px;
	text-align: center;
	background: white;
	margin-left: 10px;
	float: left;
}
.articleListing {
	display: block;
	width: 470px;
	height:430px;
	line-height: 430px;
	text-align: center;
	background: white;
	margin-left: 15px;
	float: left;
}
#sideBar {
	width: 254px;
	height: 500px;
	display: block;
	margin-left: 10px;
	background: #056ef563;
	float: left;
	margin-bottom: 10px;
}
.sideBarFeature  {
	display: block;
	width: 225px;
	height:430px;
	line-height: 430px;
	text-align: center;
	background: white;
	margin-left: 15px;
	float: left;
}
#footer {
	width: 1024px;
	height: 50px;
	background: #056ef563;
	margin-bottom: 10px;
	float: left;
}
/*------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
	.container {
		margin: 0 auto;
		width: 768px;
		height: 1135px;
		border: 1px solid black;
		padding: 10px;
	}
	#header {
		width: 97%;
		height: 80px;
		background: #056ef563;
		margin-bottom: 10px;
		float: left;
		padding: 10px;
	}
	.brand {
		display: block;
		width: 16%;
		height:35px;
		text-align: center;
		background: white;
		margin-top: -12px;
		float: left;
	}
	.global {
		display: block;
		width: 50%;
		height:35px;
		text-align: center;
		background: white;
		margin-left: 10px;
		margin-top: -12px;
		float: left;
	}
	.tools {
		display: block;
		width: 28%;
		height:35px;
		text-align: center;
		background: white;
		margin-left: 28px;
		margin-top: -12px;
		float: left;
	}
	#hero {
		width: 760px;
		height: 180px;
		background: #056ef563;
		float: left;
		margin-bottom: 10px;
	}
	.heroFeature {
		display: block;
		width: 97%;
		height:65px;
		line-height: 40px;
		text-align: center;
		background: white;
		margin-left: 10px;
		margin-bottom: 5px;
		float: left;
	}
	.heroCallToAction {
		display: block;
		width: 97%;
		height:50px;
		line-height: 25px;
		text-align: center;
		background: white;
		margin-left: 10px;
		float: left;
	}
	#ad {
	    width: 28%;
	    height: 175px;
	    line-height: 180px;
	    margin-left: 530px;
	    background: green;
	    text-align: center;
	    margin-top: 320px;
	    float: right;
	    position: absolute;
	}
	#body {
		width: 99%;
		height: 640px;
		display: block;
		background: #056ef563;
		float: left;
		margin-bottom: 10px;
	}
	.articleFeature {
		display: block;
	    width: 66%;
	    height: 145px;
	    line-height: 130px;
	    text-align: center;
	    background: white;
	    margin-left: 10px;
	    float: left;
	}
	.articleListing {
		display: block;
	    width: 97%;
	    height: 425px;
	    line-height: 430px;
	    text-align: center;
	    background: white;
	    margin-left: 10px;
	    margin-top: 10px;
	    float: left;
	}
	#sideBar {
		width: 99%;
	    height: 110px;
	    display: block;
	    margin-left: 0px;
	    background: #056ef563;
	    float: left;
	}
	.sideBarFeature  {
	    display: block;
	    width: 97%;
	    height: 50px;
	    line-height: 25px;
	    text-align: center;
	    background: white;
	    margin-left: 15px;
	    float: left;
	}
	#footer {
		width: 99%;
		height: 50px;
		background: #056ef563;
		margin-bottom: 10px;
	}
}